main {
  padding: 0.8rem 0.8rem 0; //mobile
  flex: 1 0 100%;
  position: relative;
  height: 100vh;
  width: 100vw;
  // border: 2px solid red;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-areas:
    "search"
    "menu"
    "info"
    "playlist"
    "control";

  grid-template-rows: 40px 40px auto 150px;

  @include mq(768px) {
    padding: 1rem;
    grid-template-areas:
      "search search"
      "menu playlist"
      "info playlist"
      "control playlist";
    grid-template-columns: 0.6fr 1fr;
    gap: 1rem;
  }

  @include mq(1024px) {
    padding: 1.5rem;
    max-width: 1650px;
    grid-template-areas:
      "search playlist"
      "menu playlist"
      "info playlist"
      "control playlist";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 3fr 150px;
    grid-template-columns: 1fr min(2fr, 1700px);
  }
}

.searchBar-wrapper {
  grid-area: search;
  padding: 0;
  position: relative;
}

.menu {
  grid-area: menu;
}

.musicInfo {
  grid-area: info;
}

.playlist {
  grid-area: playlist;
  @include mq(768px) {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.playerControl {
  grid-area: control;
  align-self: center;
}

.ytplayer-container {
  position: absolute;
  opacity: 0.4;
}
