.playerControl {
  color: #fff;
  @include flexStartCol;
  gap: 0.6rem;
}

.song-slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.1rem;

  .progress-bar {
    cursor: pointer;
    flex-basis: 100%;
    flex-grow: 1;
    margin-bottom: 0.8rem;
    height: 6px;
    border-radius: 5px;
    background-color: $light;
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1.1rem;
      height: 1.1rem;
      border-radius: 50%;
      background: #fff;
    }
  }

  //style the rest in js
}

.playerControl-main {
  width: 100%;
  @include flexCenter;
  justify-content: space-around;

  @import "playButton";

  .prev,
  .next {
    cursor: pointer;
  }

  i {
    text-align: center;
    font-size: 2.4rem;
  }

  .volume-wrapper {
    position: relative;
  }

  button {
    background: none;
    border: none;
    color: white;
  }

  .cycle-wrapper {
    position: relative;
  }
}

@import "volumeSlider";
@import "playCycle";
